<div class="container">
  <% if @advertisements.length < 1 %>
    <div class="center">
      <% if @search_by_user %>
        Список порожній.
      <% else %>
        На жаль, пошук не дав результатів. Спробуйте змінити параметри пошуку.
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <% @advertisements.each do |advertisement| %>
      <div class="col s12">
        <div class="card grey lighten-5 z-depth-1">
          <div class="card-content">
            <span class="card-title">
              <b><%= advertisement.title %></b>
            </span>
            <small>
              <%= link_to advertisement.category, root_path %>
              >
              <%= link_to advertisement.subcategory, category_subcategory_path(advertisement.category_id, advertisement.subcategory_id) %>
            </small>
            <div>
              <%= advertisement.text %>
            </div>
            <div>
              <%= link_to advertisement.author, user_path(advertisement.user_id) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
