<div class="container">
  <% if @subcategory.advertisements.length < 1 %>
    <div class="center">
        <%= "Наразі в категорії \'#{@subcategory.title}\' немає оголошень." %>
        <br />
        <br />
        <br />
        <br />
        <%= link_to("Go to main page", root_path, :class => 'btn lighten-2 waves-effect waves-light') %>
    </div>
  <% end %>
  <div class="row">
    <% @subcategory.advertisements.each do |advertisement| %>
      <div class="col s12">
        <div class="card grey lighten-5 z-depth-1">
          <div class="card-content">
            <span class="card-title">
              <b><%= advertisement.title %></b>
            </span>
            <% if current_user and current_user.id == advertisement.user_id %>
              <%= link_to 'Edit', edit_advertisement_path(advertisement.id) %>
              <%= link_to 'Destroy', advertisement_path(advertisement.id), data: { confirm: "Are you sure?", method: "delete" } %>
              <br>
            <% end %>
            <small>
              <%= link_to advertisement.category, root_path %>
              >
              <%= link_to advertisement.subcategory_title, category_subcategory_path(advertisement.category_id, advertisement.subcategory_id) %>
            </small>
            <div>
              <%= advertisement.text %>
            </div>
            <div>
              <%= link_to advertisement.author, user_path(advertisement.user_id) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
