<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-4 z-depth-1">
        <div class="card-content center">
          <span class="card-title"><b><%= @user.name %></b></span>
        <small><%= @user.email %></small>
          <% if current_user && current_user.id == @user.id %>
            <p><%= link_to 'Edit Account', edit_user_registration_path(@user.id) %></p>
          <% end %>
          <% if current_user and current_user.id == @user.id %>
            <p><%= link_to "My advertisements", search_path(@user.id) %></p>
          <% else %>
            <p><%= link_to "#{@user.name.split(' ')[0]}\'s advertisements", search_path(@user.id) %></p>
          <% end %>
          <p>Created: <%= distance_of_time_in_words_to_now(@user.created_at) %> ago</p>
          <p>Updated: <%= distance_of_time_in_words_to_now(@user.updated_at) %> ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
