<div class="container">
  <div class="row">
    <div class="container">
      <div class="card-panel">
        <h2 class="center">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { error: flash[:alert] }) do |f| %>
          <% if resource.errors.any? %>
            <%= 'hello' %>
          <% else %>
            <%= 'bye' %>
          <% end %>

          <div class="input-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <%= f.label :email %>
          </div>

          <div class="input-field">
            <%= f.password_field :password, autocomplete: "current-password" %>
            <%= f.label :password %>
          </div>

          <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  <span>Remember me</span>
                <% end %>
              </div>
          <% end %>

          <div class="actions">
            <%= f.button "Log in", class: "waves-effect waves-light btn" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
