<div class="container">
  <div class="row">
    <div class="container">
      <div class="card-panel">
        <h5 class="center"><%= @category.new_record? ? 'New Basic Category' : 'Edit Basic Category'%></h5>
        <%= form_for @category, data: { errors: @category.errors.full_messages } do |f|%>
          <div class="input-field">
            <%= f.text_field :title, autofocus: true %>
            <%= f.label :title %>
          </div>
          <div class="input-field">
            <%= f.text_field :description %>
            <%= f.label :description %>
          </div>
          <% if !(@category.new_record?) %>
            <h5>Subcategories list</h5>
            <ul>
              <% @category.subcategories.each do |subcategory| %>
                <li><%= subcategory.title %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="input-field">
            <%= f.button('<i class="material-icons right">arrow_forward</i>Submit'.html_safe,
                      class: 'btn lighten-2 waves-effect waves-light') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
