<div class="container">
  <div class="row">
    <div class="container">
      <div class="card-panel">
        <h5 class="center"><%= @category.new_record? ? 'New Basic Category' : 'Edit Basic Category'%></h5>
        <% if @category.errors.any? %>
          <div class="card-panel grey lighten-4 z-depth-0">
            <ul>
              <% @category.errors.full_messages.each do |message| %>
                <li><span class="red-text"><%= message %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_for @category do |f|%>
          <div class="input-field">
            <%= f.text_field :title, autofocus: true %>
            <%= f.label :title %>
          </div>
          <div class="input-field">
            <%= f.text_field :description %>
            <%= f.label :description %>
          </div>
          <div class="input-field">
            <%= f.button('<i class="material-icons right">arrow_forward</i>Submit'.html_safe,
                      class: 'btn lighten-2 waves-effect waves-light') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
