<div class="container">
  <div class="row">
    <div class="container">
      <div class="card-panel">
        <h5 class="center"><%= @category.new_record? ? 'New Category' : 'Edit Category'%></h5>
        <%= form_for @category, data: { errors: @category.errors.full_messages, error: flash[:notice] } do |f|%>
          <div class="input-field">
            <%= f.text_field :title, autofocus: true, autocomplete: "off" %>
            <%= f.label :title %>
          </div>
          <div class="input-field">
            <%= f.text_field :eng_title, autofocus: true, autocomplete: "off" %>
            <%= f.label :eng_title %>
          </div>
          <div class="input-field">
            <%= f.text_field :description %>
            <%= f.label :description %>
          </div>
          <div class="input-field">
            <%= f.select :icon, ["home", "business_center", "attach_money", "local_offer"] %>
            <%= f.label :icon %>
          </div>
          <% if !(@category.new_record?) %>
            <i class="center large material-icons"><%= @category.icon %></i>
          <% end %>
          <div class="input-field">
            <%= f.button('<i class="material-icons right">arrow_forward</i>Submit'.html_safe,
                      class: 'btn lighten-2 waves-effect waves-light') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
