<div class="container">
  <div class="row">
    <%= content_tag(:div, "", data: { error: flash[:notice] }) %>
    <% @categories.each do |category| %>
      <div class="col s12 m6 l3">
        <div class="card grey lighten-4 z-depth-1">
          <div class="card-content">
            <span class="card-title">
              <b>
                <%= category.title %><br>
                <%= category.description %>
              </b>
              <% if current_user and current_user.admin %>
                <%= link_to '<i class="material-icons tiny">edit</i>'.html_safe,
                    edit_category_path(category.id) %>
                <%= link_to '<i class="material-icons tiny red-text">delete_forever</i>'.html_safe,
                    category_path(category.id),
                    data: { confirm: "Are you sure? All of dependent ads will be destroyed forever." },
                    method: "delete" %>
              <% end %>
            </span>
            <% category.subcategories.each do |subcategory| %>
              <p><%= link_to subcategory.title, category_subcategory_path(category.id, subcategory.id), class: 'subcategory-list' %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
