<div class="container center">
  <div class="row">
    <%= content_tag(:div, "", data: { error: flash[:notice] }) %>
    <% @categories.each do |category| %>
      <div class="col s12 m6 l4">
        <%= link_to category, :action => 'go' do %>
        <div class="card small grey lighten-4 z-depth-1">
          <div class="category-list">
          <div class="card-content">
            <span class="card-title">
              <b>
                <%= category.title %>
              </b>
              <% if current_user and current_user.admin %>
                <%= link_to '<i class="material-icons tiny">edit</i>'.html_safe,
                    edit_category_path(category.id) %>
                <%= link_to '<i class="material-icons tiny red-text">delete_forever</i>'.html_safe,
                    category_path(category.id),
                    data: { confirm: "Are you sure? All of dependent ads will be destroyed forever." },
                    method: "delete" %>
              <% end %>
              <b><br>
              <%= category.eng_title %></b>
            </span>
            <div class="card-action">
              <p><%= truncate(category.description, :length => 55) %></p>
              <br>
              <div class="category-icon">
                <i class="large material-icons"><%= category.icon %></i>
              </div>
            </div>
          </div>
        </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
