<div class="container">
  <% if @category.advertisements.length < 1 %>
    <div class="center">
      Категорія порожня.
      <br />
      <br />
      <br />
      <br />
      <%= link_to("Go to main page", root_path, :class => 'btn lighten-2 waves-effect waves-light') %>
    </div>
  <% end %>
  <div class="row">
    <% @category.advertisements.each do |advertisement| %>
      <div class="col s12">
        <div class="card grey lighten-5 hoverable">
          <div class="card-content">
            <span class="card-title">
              <b><%= advertisement.title %></b>
            </span>
            <% if current_user and advertisement.user == current_user %>
              <%= link_to 'Edit', edit_advertisement_path(advertisement.id) %>
              <%= link_to 'Destroy', advertisement_path(advertisement.id), data: { confirm: "Are you sure?" }, method: "delete" %>
              <br>
            <% end %>
            <small>
              <%= link_to advertisement.category.title, root_path %>
            </small>
            <div>
              <%= advertisement.text %>
            </div>
            <div>
              <%= link_to advertisement.user.name, user_path(advertisement.user_id) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
